.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
notes.txt
notes.md
mosquitto.db
mosquitto.log
Package.resolved
docker
