services:
  mosquitto_broker:
    container_name: mosquitto-broker
    image: eclipse-mosquitto
    ports:
      - 1883:1883
    volumes:
      - $PWD/mosquitto/config:/mosquitto/config:Z
      - $PWD/mosquitto/log/:/mosquitto/log:Z
      - $PWD/mosquitto/data:/mosquitto/data:Z
