# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: swift build -v
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install mosquitto
        run: brew install mosquitto
      - name: Run mosquitto
        run: |
          mosquitto -p 1883 &
          echo $! > mosquitto.pid
      - name: Run Tests
        run: swift test -v
      - name: Kill broker
        if: always()
        run: |
          kill $(cat mosquitto.pid) || true
